<html>
<head>
    <title>Кулинарный блог</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<header>
    <h1>Добро пожаловать в сервис пользовательских рецептов</h1>
</header>
<nav>
    Навигация
    <ul>
        <li><a href="{{ 'authors' }}">Список авторов</a> </li>
    </ul>

</nav>
<body>
    <h1>Список авторов</h1>
    <ul>
        {% for author in authors %}
        <li>
            <p> {{ author.nickname }} </p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>