<html>
<head>
    <title>Кулинарный блог</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<header>
    <h1>Добро пожаловать в сервис пользовательских рецептов</h1>
</header>
<nav>
    Навигация
    <ul>
        <li><a href="/authors/list">Список авторов</a></li>
        <li><a href="/recipes/list">Список рецептов</a></li>
    </ul>

</nav>
<body>
    <h1>Список рецептов</h1>
    <ul>
        {% for recipe in recipes %}
        <li>
            <h2> {{ recipe.title }} </h2>
            <p> {{ recipe.author_nickname }} </p>
            <p> {{ recipe.dish_type }} </p>
            <p> {{ recipe.description }} </p>
            <p> {{ recipe.steps_to_complete }} </p>
            <p> {{ recipe.tags }} </p>
            <p> Likes: {{ recipe.likes }} </p>
            <p> {{ recipe.date_created }} </p>
            <p> {{ recipe.date_updated }} </p>

        </li>
        {% endfor %}
    </ul>
</body>
</html>


